<div class="col-md-6"> 
  <div class="panel panel-default" style="margin-top: 50px">
    <div class="panel-heading">
      <h3 class="panel-title">Create new greeter</h3>
    </div>
    <div class="panel-body">

      <form action="/greeters" method="post">
        <div class="form-group">
          <label for="greeting">How would you like to greet?</label>
          <input type="text" class="form-control" name="greeting" id="greeting" placeholder="greeting">
        </div>
        <button type="submit" class="btn btn-default disabled" id="submit">Create</button>        
      </form>
    </div>
  </div>
</div>


